
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  --primary-color: #1072D5;
  --secondary-color: #0A9E2B;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: "Roboto", sans-serif;
}

.row {
    display: flex;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.blog-title {
    width: 100%;
    margin-top: 50px;
}

.blog-title .left-column {
    width: 15%;
    text-align: left;
}

.blog-title .middle-column {
    width: 70%;
    text-align: center;
}

.blog-title .middle-column h2{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.blog-title .right-column {
    width: 15%;
    text-align: right;
}

.blog-title a {
    color: #808B96;
    display: inline-block;
    padding: 10px 0
}